body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 17fr 1fr;
    grid-template-columns: 3fr 17fr;
    grid-template-areas: 
        "header     header"
        "navigation content"
        "footer     footer";
}

#header {
    grid-area: header;
    font-size: 10px;
    background-color: aliceblue;
}

#footer {
    grid-area: footer;
    font-size: 8px;
    background-color: aliceblue;
}

h2 {
    font-size: 14px;
    padding: 2px;
    margin: 0;
}

#navigation {
    grid-area: navigation;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-columns: 1fr;
    gap: 5px;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    background-color: linen;
}

#centerContent {
    grid-area: content;
    display: grid;
    overflow-y: scroll;
    background-color: rgb(235, 235, 235);
    grid-template-rows: repeat(6, 1fr);
}

#centerContentHeader {
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 95%;
    margin: 5px 20px;
    align-content: center;
}

.taskSimple {
    display: grid;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px 20px;
    padding: 5px 20px;
    background-color: lightgrey;
    align-items: center;
    grid-template-columns: 1fr 8fr 1fr;
}

.taskSimple>p {
    font-size: 12px;
    text-align: right;
    margin: 0;
}

.taskDetailed {
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px 20px;
    padding: 5px 20px;
    background-color: lightgrey;
}

.navButton {
    border: none;
    text-align: right;;
    margin: 1px 1px;
    padding-right: 10px;
    width: 95%;
    border-radius: 5px;
    background-color: inherit;
}

.navButton:hover {
    background-color: rgb(228, 255, 228);
}

.navButton.selected {
    background-color: lightblue;
}

body>form {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 90%;
    height: 40%;
    top: 100px;
    left: 5%;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 15px;
    background-color: rgb(255, 251, 251);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}